#HourChart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0px;

}

#DayChart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: -20px;
}

#MonthChart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: -20px;

}

/****************************
Graphs
****************************/

.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    stroke: black;
}

.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}
